.goal-one-page-wrapper{
    // background: linear-gradient(to right top, #af7fdd, #a493f0 ) ;
           
    font-family: "Calibri," "";
    width: 100vw;
  
}

.goal-one-page-content{    
    font-size: 20px;
}

.nigeria-ethiopia-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: linear-gradient(180deg, #edd7ff 40%, #ffffff 80%) ;
    padding: 100px 50px 50px 100px ;
    width: 100vw;
    
}

.nigeria-wrapper {
width: 45%;
box-shadow: 0px 3px 5px rgba(63, 46, 46, 0.4);
padding: 10px 30px 30px 30px;
border-radius: 10px;
background-color: #e6e6e6;
text-align: start;
}

.ethiopia-wrapper{
width: 45%;
box-shadow: 0px 3px 5px rgba(63, 46, 46, 0.4);
padding:10px 30px 30px 30px;
border-radius: 10px;
background-color: #e6e6e6;
text-align: start;
}

.goal-one-banner-section{
    height: 70vh;
    padding: 2%;
    background-image: linear-gradient(90deg, rgb(240, 240, 240) 31%, rgba(248, 248, 248, 0) 80%), url("../../assets/img3.jpg");
    background-size: cover;
    background-position: center;
    border: solid rgba(255, 0, 0, 0) 1px;
    text-align: start;  
    
}

.nigeria-ethiopia-conclusion{
    display: flex;
    justify-self: center;
    width: 60%;
    margin: 0 auto;
    text-align: start;
    margin-top: 2%;
    margin-bottom: 4%;
}

.goal-one-impact{
    padding: 2%; 
    background: linear-gradient(270deg, #f3e9ff 50%, #fafafa 80%) ;
}