.goal-one-page-wrapper{
    // background: linear-gradient(to right top, #af7fdd, #a493f0 ) ;
    background: linear-gradient(to right top, #eae2f1, #ffffff ) ;       
    font-family: "Calibri," "Cambria";
    width: 100vw;
  
}

.goal-one-page-content{
    padding: 0; 
    font-size: 17px;
}

.nigeria-ethiopia-wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: rgb(255, 255, 255);
    padding: 50px;
    width: 100vw;
    
}

.nigeria-wrapper {
width: 45%;
box-shadow: 0px 3px 5px rgba(63, 46, 46, 0.4);
padding: 10px 20px 20px 20px;
border-radius: 10px;
}

.ethiopia-wrapper{
width: 45%;
box-shadow: 0px 3px 5px rgba(63, 46, 46, 0.4);
padding:10px 20px 20px 20px;
border-radius: 10px;
}

.goal-one-banner-section{
    height: 385px;
    // background-image: linear-gradient(direction, white, blue) url("../../assets/img3.jpg");
    background-image: linear-gradient(rgba(255, 255, 255, 0.925) ,rgba(255, 255, 255, 0.116) ), url("../../assets/img3.jpg");
    background-size: cover;
    background-position: center;
    
    text-align: start;  
    
}