.homepage-header {
    width: 100vw;
    display: flex;
    justify-content: space-between;    
    height: 100px;     
    font-weight: bolder; 
    overflow: hidden;     
    // box-shadow: 0px 2px 3px rgba(63, 46, 46, 0.4);  
    
    
  
        .homepage-header-logo-container {
          height: 160px;
          width: 60%;
          color: white;
          font-size: 23px;
          margin-top: -10px;
        //   border: black solid 1px;
          display: flex;
          justify-content: flex-end;
        //   align-items: center;
  
              .homepage-header-logo {
                width: 30%;
                height: 150px;
                align-self: flex-end;
                border-radius: 50%;
                // border:rgb(83, 1, 1);
                // font-size: 37px;
                        
                @media screen and (max-width: 800px) {
                    height: 110px;
                    width: 45%;
                    margin-top: 20px;
                    margin-bottom: -30px;
                }
                @media screen and (max-width: 600px) {
                  height: 110px;
                  width: 70%;
                  margin-top: 20px;
                  margin-bottom: -30px;
                }
              }
           @media screen and (max-width: 800px) {
            height: 80px;
            width: 60%;
            justify-content: flex-start;
           }  
          
        }
        
        .homepage-header-right-side-section{
            display: flex;
            flex-direction: column;
            // border: solid springgreen 2px;
            margin-right: 15px;
            width: 40%;
            
                
                .homepage-header-upper-division{
                    // background-color: violet;                    
                    display: flex;                    
                    justify-content: flex-end;  
                    align-items: center;         
                    color: #af7fdd ;
        
                        .homepage-header-options {      
                            flex-direction: row;
                            display: flex;
                            justify-content: flex-end;
                            align-items: center;                                                            
                            // border: black solid 1.2px; 
                            justify-self: center;
                            margin-right: 10px;
                            margin-top: 30px; //To be discarded when lower division has an item

                               
                            
                            @media screen and (max-width: 800px) {
                                margin-right: 7px;
                                padding: 5px;                       
                                font-size: 3px;   
                                padding-left: 15px;                                                   
                                margin-top: 30px;  //To be changed to 10 when lower division has an item
                                
                                #cart-icon-small-screen{
                                    opacity: 1;
                                }
                                #cart-icon-large-screen{
                                    opacity: 0;
                                } 
                            }
                        }
        
                        
        
                    @media screen and (max-width: 800px) {                    
                     justify-content: unset; 
                    
                    }
                
                }

            @media screen and (max-width: 800px) {
                //.right-side-section                   
                width: 20%;
                
            }

        }
        
  
    
    
  }