.goal-one-page-wrapper{
    // background: linear-gradient(to right top, #af7fdd, #a493f0 ) ;
    background: linear-gradient(to right top, #dfcaf3, #f3f2f5 ) ;       
    font-family: 'Poppins';
  
}

.goal-one-page-content{
    padding: 5%; 
    font-size: 18 px;
}