.goal-one-page-wrapper{
    // background: linear-gradient(to right top, #af7fdd, #a493f0 ) ;
    background: linear-gradient(to right top, #eae2f1, #ffffff ) ;       
    font-family: 'Cambria';
  
}

.goal-one-page-content{
    padding: 5%; 
    font-size: 16px;
}