.option {
    border-bottom: transparent solid 1px ;
    background-color: transparent;
    // padding: 0 6px;
    font-size: 18.3px; 
    color: rgb(94, 90, 90); 
    border-radius: 2px;        
    font-weight: 500;
    margin: 0 5px;
    padding: 6px;
    
    cursor: pointer;
    transition: all 0.5s;

        &:hover {
            color: rgb(94, 90, 90);
            animation: pulsate 1s;
        
            border-color: rgb(94, 90, 90);
        }

        &:focus {
            outline: none;
            // animation: pulsate 1s;
            border-color: rgb(69, 18, 209);
            color: rgb(69, 18, 209);
            // box-shadow: 0 5px 10px rgba(134, 106, 106, 0.25);
        
        }

        

        
        

    @media screen and (max-width: 800px) {                            
        margin: 0 2px;
        font-size: 16px;
        padding: 5px;               
        
    }

    @media screen and (max-width: 420px) {
        font-size: 15px;    
        padding: 4px;  
    }

    @media screen and (max-width: 350px) {
        font-size: 13px;  
        padding: 3px;    
    }

    @keyframes pulsate {
        0% {
        transform: scale(1);
        box-shadow: none;
        }

        50% {
        transform: scale(1.1);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.25);
        }

        100% {
        transform: scale(1);
        box-shadow: none;
        }
    }
}

.option-icon-present{
    border: none ;
    &:hover{
        color: unset;
        animation: unset;

        border-color: unset;

    }
    &:focus {
        outline: unset;
        
        border-color:unset;
        color: unset
        
    
    }

    .option-icon{
        margin-left: 3px;
    }
}

#donate-button{

    border-bottom: unset ;
    background-color: rgb(241, 220, 30);
    padding: 4px 16px;
    font-size: 18.3px; 
    color: rgb(94, 90, 90); 
    border-radius: 20px;        
    font-weight: 600;
    font-style: italic ;     
    box-shadow: inset 0 0 8px rgb(153, 138, 6);

    
    &:hover {
        color: unset;
        animation: unset;
    
        border-color: unset;
    }

    &:focus {
        outline: none;
        // animation: pulsate 1s;
        border-color: unset;
        color: unset;
        // box-shadow: 0 5px 10px rgba(134, 106, 106, 0.25);
    
    }

    @media screen and (max-width: 600px) {                            
        
        padding: 4px 14px;           
        
    }

}

