.goal-four-page-wrapper{
    // background: linear-gradient(to right top, #af7fdd, #a493f0 ) ;
           
    // font-family: "Calibri," "";
    width: 100vw;
  
}

.goal-four-page-content{    
    font-size: 17px;
}

.financial-basket-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background: linear-gradient(180deg, #edd7ff 30%, #ffffff 80%) ;
    padding: 100px 50px 50px 100px ;
    width: 100vw;

    @media screen and (max-width: 500px) {
       flex-direction: column;
       padding: 3% 2% 2% 3%;
    }
    
}



.goal-four-banner-section{
    height: 70vh;
    padding: 2%;
    background-image: linear-gradient(90deg, rgb(240, 240, 240) 51%, rgba(248, 248, 248, 0) 80%), url("../../assets/centralized-currency.jpg");
    background-size: cover;
    background-position: center;
    border: solid rgba(255, 0, 0, 0) 1px;
    text-align: start;  

    @media screen and (max-width: 500px) {
        background-image: linear-gradient(90deg, rgb(240, 240, 240) 61%, rgba(248, 248, 248, 0) 80%), url("../../assets/centralized-currency.jpg");
        font-size: 13px;
        height: 60vh;
    }

    @media screen and (max-width: 420px) {
       font-size: 11px;
        height: 72vh;
    }

    @media screen and (max-width: 375px) {        
         height: 80vh;
     }
    
}

.goal-four-banner-section >div{
    width: 60%;  
    
    @media screen and (max-width: 500px) {
        width: 70%;
    }
}

.goal-four-banner-section >h2{
    font-size:29px ;

    @media screen and (max-width: 500px) {
        font-size: 20px;
        width: 70%;
     }
}

.financial-basket-conclusion{
    display: flex;
    justify-self: center;
    width: 50%;
    margin: 0 auto;
    text-align: start;
    margin-top: 4%;
    margin-bottom: 7%;
    font-size: 19px;

    @media screen and (max-width: 500px) {
        width: 85%;
        margin-top: 8%;
        margin-bottom: 10%;
        font-size: 18px;
     }
}



.goal-four-economic-impact{
    padding: 2%;     
    text-align: start;
    padding-bottom: 7%;
    background: linear-gradient(270deg, #fcf9ff 50%, #fff8f8 80%) ;
}

.goal-four-economic-impact >h2{
    text-align: center;
}

.goal-four-economic-impact >div{
    width:90%;
    margin: 0 auto;
    padding: 3%;
    background-color:rgba(232, 249, 255, 0.993) ;
    border-radius: 20px;
    margin-top: -8%;
    margin-bottom: -12%;
}

.goal-four-conclusion{
   text-align: start;
    width: 60%;
    margin: 0 auto;    
    padding-bottom: 6%;
    padding-top: 8%;
    font-size: 18px;
   

    @media screen and (max-width: 500px) {
       width: 85%;
        
    }

    // @media screen and (max-width: 420px) {
        
        
    // }
}

